.DS_Store
target/
.vscode/
.env
.idea/
/manga/
config.yml
*.db
*.db-shm
*.db-wal
node_modules
extensions/
downloads/
node_modules/
dist/
.parcel-cache/
*.pem
.tanoshi/
output/
flatpak/*
!flatpak/org.luigi311.tanoshi.yml
!flatpak/Tanoshi.desktop