.manga-cover {
    width: 200px;
    height: 284px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.manga-cover-container {
    margin: 15px;
    position: relative;
    width: 200px;
}

.manga-cover-title {
    position: absolute;
    bottom: 8px;
    padding-left: 16px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
}

.detail {
    width: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.manga-page-container {
    display: flex;
    height: 100%;
    z-index: 0;
    margin: auto;
    width: fit-content;
}

.manga-page {
    max-height: 100vh;
    margin: 0;
}

.manga-reader-container {
    position: relative;
}

.manga-navigate-right {
    background: transparent;
    border: none !important;
    font-size:0;
    height: 100vh;
    width: 25%;
    left: 75%;
    position: absolute;
    outline:none
}

.manga-navigate-left {
    background: transparent;
    border: none !important;
    font-size:0;
    height: 100vh;
    width: 25%;
    position: absolute;
    outline:none
}

