$color--interval:     12.5%;

$color-gray: #888888;
$color-gray-100: lighten($color-gray, $color--interval * 4);
$color-gray-200: lighten($color-gray, $color--interval * 3);
$color-gray-300: lighten($color-gray, $color--interval * 2);
$color-gray-400: lighten($color-gray, $color--interval);
$color-gray-500: $color-gray;
$color-gray-600: darken($color-gray, $color--interval);
$color-gray-700: darken($color-gray, $color--interval * 2);
$color-gray-800: darken($color-gray, $color--interval * 3);
$color-gray-900: darken($color-gray, $color--interval * 4);

$font-stack:    Helvetica, Roboto, sans-serif;
$primary-color: rgba(91, 116, 155, 1);

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

$background-color-light: $color-gray-100;
$background-color-dark: $color-gray-900;

$topbar-background-light: $primary-color;
$topbar-background-dark: $color-gray-900;

$bottombar-background-light: $color-gray-100;
$bottombar-background-dark: $color-gray-900;

$text-color-light: $color-gray-800;
$text-color-dark: $color-gray-300;

$divide-color-light: $color-gray-200;
$divide-color-light-1: $color-gray-300;
$divide-color-dark: $color-gray-800;
$divide-color-dark-1: $color-gray-700;

:root {
    --animate-duration:  0.5s;
    --background-color: white;
    --background-color-100: #{$color-gray-200};
    --background-color-200: #{$color-gray-300};

    --topbar-background-color: #{$topbar-background-light};
    --topbar-button-color: white;
    --topbar-bottom-border: none;
    
    --bottombar-background-color: #{$bottombar-background-light};
    --color: #{$text-color-light};
    
    --divider-color: #{$divide-color-light};
    --divider-color-1: #{$divide-color-light-1};
    
    --shadow: #{$shadow};
    --list-group-background-color: var(--background-color);
    --list-group-border: 1px solid var(--background-color-200);
    
    --primary-color: #{$primary-color};
}

body.dark {
    --background-color: black;
    --background-color-100: #{$color-gray-800};
    --background-color-200: #{$color-gray-700};

    --topbar-background-color: #{$topbar-background-dark};
    --topbar-button-color: #{$primary-color};
    --topbar-bottom-border: 1px solid var(--background-color-100);

    --bottombar-background-color: #{$bottombar-background-dark};
    --color: #{$text-color-dark};

    --divider-color: #{$divide-color-dark};
    --divider-color-1: #{$divide-color-dark-1};

    --list-group-background-color: #{$color-gray-800};
    --list-group-border: none;

    --shadow: none
}

body {
    font: 100% $font-stack;
    background-color: var(--background-color);
    color: var(--color);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: none
}

button, .button {
    font: 100% $font-stack;
    color: #{$primary-color};
    font-family: inherit;
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    &:hover, &:active {
        opacity: 0.5;
    }
}

input {
    border: none;
    color: inherit;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--background-color-100);
    border-radius: 0.25rem;
    font-size: medium;
    -webkit-appearance: none;

    &[type="checkbox"]:checked {
        background-color: #000000;
    }
    
    &.error {
        outline-color: red;
        color: red;
    }

    &[type="submit"], &[type="submit"] {
        background-color: transparent;
        color: #{$primary-color};
        
        &:hover, &:active {
            opacity: 0.5;
        }
    }

    
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--topbar-background-color);
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1.75;
    z-index: 50;
    padding-top: calc(env(safe-area-inset-top) + 0.5rem);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--topbar-bottom-border);
    
    span, input {
        background-color: inherit;
        color: #ffffff;
    }

    button {
        background-color: inherit;
        color: var(--topbar-button-color);

        span {
            color: var(--topbar-button-color);
        }
    }

    input {
        padding-top: initial;
        padding-bottom: initial;
        margin-top: initial;
        margin-bottom: initial;
    }

    input::placeholder {
        color: #ffffff;
        opacity: 0.5;
    }

    &-spacing {
        padding-top: env(safe-area-inset-top);
        background-color: transparent;
        width: 100%;
        height: 2.5rem;
    }
}

.bottombar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2.5rem;
    z-index: 40;
    padding-top: 0.5rem;
    padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
    background-color: var(--bottombar-background-color);
    border-top: 1px solid var(--background-color-100);

    a {
        display: flex;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        flex-direction: column;
        border-radius: 0.25rem;
        align-items: center;
        color: var(--color);

        &.active {
            color: #{$primary-color};
        }

        &:hover, &:active {
            opacity: 0.5;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
        }

        span {
            font-size: 0.875rem;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2;
            margin-right: 2;
        }
    }

    &-spacing {
        padding-bottom: env(safe-area-inset-bottom);
        background-color: transparent;
        width: 100%;
        height: 3.25rem;
    }
}

.page {
    padding: 0.5rem;
}

$manga-grid: (
    '0px': 3,
    '768px': 4, 
    '1024px': 6,
    '1280px': 12
);

.manga-grid {
    width: 100%;
    display: grid;
    gap: 0.5rem;
}

@each $width, $grid in $manga-grid {
    @media (min-width: $width) { 
        .manga-grid {
            grid-template-columns: repeat($grid, minmax(0, 1fr));
        }
    }
}

.manga-cover {
    cursor: pointer;
    position: relative;
    border-radius: 0.375rem;
    padding-bottom: 141.5094339622642%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    
    &.favorite {
        filter: brightness(50%);
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.375rem;
    }

    div {
        position: absolute;
        bottom: 0px;
        font-size: 0.875rem;
        background-image: linear-gradient(to top, #000000aa, transparent);
        width: 100%;
        color: #f7fafc;
        padding-bottom: 0.25rem;
        padding-top: 1.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
        
        span {
            margin: 0.125rem;
        }
    }
    
}

.manga-detail {
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
    }
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;

    &-item {
        display: flex;
        border-top: 1px solid var(--divider-color);

        &:first-child {
            border-top: none;
        }

        &:hover {
            background-color: var(--background-color-100);
        }
    }
}

.list.group {
    border-radius: 0.5rem;
    border: var(--list-group-border);
    background-color: var(--list-group-background-color);

    .list-item {
        padding: 0.5rem;
        border-top: 1px solid var(--divider-color-1);

        &:first-child {
            border-top: none;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        &:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        &:hover {
            background-color: var(--background-color-200);
        }
    }
}

.source-item {
    width: 100%;
    display: flex;
    flex-grow: 1;

    img {
        margin: 0.5rem;
        height: 1.5rem;
        width: 1.5rem;

        .invisible {
            visibility: hidden;
        }
    }

    span {
        margin: 0.5rem;
    }
}

.source-action {
    margin: 0.5rem;
    display: flex;
    flex-grow: 0;
    color: #{$primary-color};
}

.update-item {
    width: 100%;
    display: flex;
    padding: 0.5rem;

    &-thumbnail {
        flex-shrink: 0;
    
        img {
            width: 4rem;
            object-fit: cover;
            border-radius: 0.375rem;
        }
    }

    &-detail {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;

        .manga-title {
            margin: 0 {
                bottom: 0.5rem;
            }
            font-size: large;
        }

        .last-chapter {
            margin: 0 {
                bottom: 0.5rem;
            }
            font-size: medium;
        }

        .date-updated {
            margin: 0 {
                bottom: 0.5rem;
            }
            font-size: small;
        }
    }
}


.load-more-btn {
    text-align: center;
    justify-content: center;
    margin: 0.5rem;
    cursor: pointer;
}

.search-box {
    width: 100%;
    margin: 0.5rem;
    display: inline-flex;

    input {
        background-color: #aaaaaa;
        border-radius: 0.5rem;
    }
}

.me {
    border-radius: 0.5rem;
    border: var(--list-group-border);
    background-color: var(--list-group-background-color);
    padding: 0.5rem;
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: var(--background-color-200);
    }

    &-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        background-color: #dbdbdb;
        padding: 0.5rem;
        margin-right: 0.5rem;
        flex-shrink: 0;
        color: #000000;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        color: inherit;

        &-name {
            font-size: large;
            color: var(--color);
        }

        &-role {
            font-size: medium;
            color: var(--color);
        }
    }

    div {
        width: 100%;
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    color: inherit;
}

.uninstall-btn {
    border-radius: 0.5rem;
    background-color: var(--background-color-100);
    padding: 0.5rem;
    width: 100%;
    
    span {
        color: #ee4444;
    }
}

.reader-settings-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 30;
}

.reader-settings {
    background-color: var(--background-color);
    &-row {
        border-radius: 0.25rem;
        padding: 0.25rem;
        background-color: var(--background-color-100);

        button {
            color: var(--color);
        }
    
        button.active {
            background-color: var(--background-color-200);
            border-radius: 0.25rem;
            padding: 0.125rem;
        }
    }
}

.reader-settings.modal {
    position: fixed;
    box-shadow: #{$shadow};
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    color: inherit;
}

.reader-settings.non-modal {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: var(--list-group-border);
}

.reader {
    background-color: white;
}

.reader.dark {
    background-color: black;
}

.chip {
    background-color: var(--background-color-100);
    border-radius: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.125rem;
}

.icon-btn {
    border-radius: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: $shadow;
    padding: 0.5rem;
    background-color: var(--background-color-100);
}

.header {
    font-size: larger;
    font-weight: 600;
    margin-top: 0.5rem;
}

.snackbar {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 4.5rem;

    div {
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.5rem;
        color: white;
        background-color: var(--background-color-200);
        display: flex;
        z-index: 50;
        align-items: center;
        
        span {
            flex-grow: 1;
            color: var(--color);
        }

        button {
            flex-grow: 0;
        }
    }
}

.spinner {
    display: flex;
    background-color: var(--background-color);
    opacity: 0.5;
    z-index: 10;
    justify-content: center;
    width: 100%;

    &.fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.loader {
  border: 0.25rem solid #f3f3f3;
  border-top: 0.25rem solid  #{$primary-color};
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.0);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
