name: CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - .gitignore
      - "*.md"
      - ".github/screenshots/**"
  push:
    paths-ignore:
      - .gitignore
      - "*.md"
      - ".github/screenshots/**"

env:
  LLVM_VERSION: 15
  UBUNTU_DEPS: |
    libssl-dev libarchive-dev build-essential cmake llvm clang libicu-dev \
    nettle-dev libacl1-dev liblzma-dev libzstd-dev liblz4-dev libbz2-dev \
    zlib1g-dev libxml2-dev lsb-release wget software-properties-common \
    libwebkit2gtk-4.1-dev curl libgtk-3-dev libappindicator3-dev patchelf \
    librsvg2-dev libpango1.0-dev libsoup-3.0-dev libjavascriptcoregtk-4.1-dev \
    libb2-dev

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          #- macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4

      - run: mkdir crates/tanoshi-web/dist

      - name: Install deps (ubuntu/MacOS)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo apt-get update && sudo apt-get install -y ${{ env.UBUNTU_DEPS }}
          elif [ "${{ matrix.os }}" == "macos-latest" ]; then
            brew install icu4c libarchive bzip2 lz4 zlib expat libiconv
          fi

      - uses: ilammy/setup-nasm@v1

      - id: cache-vcpkg
        name: Cache vcpkg (windows)
        uses: actions/cache@v4
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          path: "C:/vcpkg/installed"
          key: vcpkg-${{ matrix.os }}-
          restore-keys: |
            vcpkg-${{ matrix.os }}-

      - name: Install deps (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          vcpkg integrate install
          vcpkg install --only-downloads libarchive:x64-windows-static-md
          vcpkg install libarchive:x64-windows-static-md

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2.0.5
        with:
          version: ${{ env.LLVM_VERSION }}

      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.os }}
      
      - name: Run cargo test
        env:
          # Fix for macos
          PKG_CONFIG_PATH: /usr/local/opt/icu4c/lib/pkgconfig:/usr/local/opt/libarchive/lib/pkgconfig:/usr/local/opt/zlib/lib/pkgconfig:/usr/local/opt/expat/lib/pkgconfig
        run: |
          cargo test

  build-web:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/luigi311/tanoshi-builder:sha-6b8a514-slim
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - name: Build tanoshi-web
        run: cd crates/tanoshi-web && trunk build --release

      - name: Upload tanoshi-web
        uses: actions/upload-artifact@v4
        with:
          name: tanoshi-web
          path: crates/tanoshi-web/dist
  
  build-tauri:
    runs-on: ${{ matrix.os }}
    needs:
      - build-web
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: [self-hosted, arm64]
            arch: aarch64
          - os: ubuntu-latest
            arch: amd64  
          - os: windows-latest
            arch: amd64
    steps:
      - uses: actions/checkout@v4

      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: tanoshi-web
          path: crates/tanoshi-web/dist
      
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.os }}-${{ matrix.arch }}"


      - name: Install deps (ubuntu)
        if: ${{ matrix.os != 'macos-latest' && matrix.os != 'windows-latest' }}
        run: sudo apt update && sudo apt upgrade -y && sudo apt install -y ${{ env.UBUNTU_DEPS }}

      - name: Install deps (macOS)
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install icu4c libarchive bzip2 lz4 zlib expat libiconv

      - uses: ilammy/setup-nasm@v1

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2.0.5
        with:
          version: ${{ env.LLVM_VERSION }}

      - name: Cache vcpkg
        uses: actions/cache@v4
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          path: "C:/vcpkg/installed"
          key: vcpkg-${{ matrix.os }}-
          restore-keys: |
            vcpkg-${{ matrix.os }}-

      - name: Install deps (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          vcpkg integrate install
          vcpkg install --only-downloads libarchive:x64-windows-static-md
          vcpkg install libarchive:x64-windows-static-md

      - name: Install Binstall
        uses: cargo-bins/cargo-binstall@main
      
      - name: Install tauri-cli
        run: cargo binstall tauri-cli@2.0 --no-confirm --locked

      - name: Build tauri (ubuntu)
        if: ${{ matrix.os != 'macos-latest' && matrix.os != 'windows-latest' }}
        env:
          RUSTFLAGS: "-Clink-arg=-Wl,--allow-multiple-definition"
        run: |
          cd crates/tanoshi-tauri
          cargo tauri build

      - name: Build tanoshi (macos)
        if: ${{ matrix.os == 'macos-latest' }}
        env:
          PKG_CONFIG_PATH: /usr/local/opt/icu4c/lib/pkgconfig:/usr/local/opt/libarchive/lib/pkgconfig:/usr/local/opt/zlib/lib/pkgconfig:/usr/local/opt/expat/lib/pkgconfig
        run: |
          cd crates/tanoshi-tauri
          cargo tauri build

      - name: Build tanoshi (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          cd crates/tanoshi-tauri
          cargo tauri build

      - name: Move files (linux/macOS)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          mkdir -p builds
          find target/release/bundle/ -type f \( -name "*.deb" -o -name "*.AppImage" -o -name "*.dmg" \) -print0 |
          while IFS= read -r -d '' file; do
              mv "$file" ${{ github.workspace }}/builds/
          done

      - name: Move files (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          mkdir -p builds
          mv target/release/bundle/msi/*.msi ${{ github.workspace }}/builds/

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: tanoshi-app-${{ matrix.os }}-${{ matrix.arch }}
          path: ${{ github.workspace }}/builds/

      - name: Upload binaries to GitHub Releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace }}/builds/*
          tag: ${{ github.ref }}
          file_glob: true
          overwrite: true


  build-cli:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/luigi311/tanoshi-builder:sha-6b8a514-slim
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - name: Build tanoshi-cli
        env:
          RUSTFLAGS: "-Clink-arg=-Wl,--allow-multiple-definition"
        run: |
          cargo build -p tanoshi-cli --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tanoshi-cli
          path: ${{ github.workspace }}/target/release/tanoshi-cli

      - name: Upload binaries to GitHub Releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/tanoshi-cli
          asset_name: tanoshi-cli
          tag: ${{ github.ref }}
